<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>学生页面</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <h1>欢迎，{{ name }}同学！</h1>
    <form id="updatePasswordForm">
        <label for="newPassword">新密码：</label>
        <input type="password" id="newPassword" name="new_password" required><br>
        <input type="submit" value="更改密码">
    </form>
    <div id="updatePasswordMessage"></div>
    <script>
        document.getElementById('updatePasswordForm').addEventListener('submit', function(event) {
            event.preventDefault(); // 阻止表单默认提交行为

            const formData = new FormData(event.target);
            const url = '/student/updatePassword/{{ uid }}';

            fetch(url, {
                method: 'POST',
                body: formData
            })
            .then(response => response.text())
            .then(message => {
                alert(message)
            })
            .catch(error => {
                console.error('请求失败：', error);
            });
        });
    </script>

    <button id="checkInButton">签到</button>
    <div id="responseMessage"></div>
    <script>
        document.getElementById('checkInButton').addEventListener('click', function() {
            fetch('/student//response/{{ uid }}', {
                method: 'POST'
            })
                .then(response => response.text())
                .then(message => {
                    document.getElementById('responseMessage').innerText = message;
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        });
    </script>
</body>
</html>