<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>教师页面</title>
</head>
<body>
    <h1>欢迎，{{ name }}老师！</h1>
    <form id="updatePasswordForm">
        <label for="newPassword">新密码：</label>
        <input type="password" id="newPassword" name="new_password" required><br>
        <input type="submit" value="更改密码">
    </form>
    <script>
        document.getElementById('updatePasswordForm').addEventListener('submit', function(event) {
            event.preventDefault(); // 阻止表单默认提交行为

            const formData = new FormData(event.target);
            const url = '/teacher/updatePassword/{{ uid }}';

            fetch(url, {
                method: 'POST',
                body: formData
            })
            .then(response => response.text())
            .then(message => {
                alert(message)
            })
            .catch(error => {
                console.error('请求失败：', error);
            });
        });
    </script>

    <form id="newAttendance">
        <label for="group">需要签到的班级：</label>
        <input type="text" id="group" name="group" required><br>
        <input type="submit" value="发起签到">
    </form>

    <script>
        document.getElementById('newAttendance').addEventListener('submit', function(event) {
            event.preventDefault(); // 阻止表单默认提交行为

            const formData = new FormData(event.target);

            fetch('/teacher/start', {
                method: 'POST',
                body: formData
            })
            .then(response => response.text())
            .then(message => {
                alert(message)
            })
            .catch(error => {
                console.error('请求失败：', error);
            });
        });
    </script>
</body>
</html>
